{% extends 'rod/base.html' %}

{% block content %}
    <div class="container z-depth-1 p-5 my-5">
    {% if not drony %}
        <div class="alert alert-warning" role="alert">
            <h1>BRAK DRONÓW W BAZIE!</h1>
        </div>
    {% endif %}
        <input class="btn btn-primary" type="button" value="Dodaj Nowy"  onclick="location.href='{% url 'rod-new_drone' %}'"/>

    <!------------------------------------------------------WYSWIETLANIE DRONOW Z BAZY------------------------------------------------------>
    {% if drony %}
              <section>
                <div class="table-responsive">
                  <table class="table product-table table-cart-v-1">
                  <!---------------------NAGLOWKI--------------------->
                          <thead>
                              <tr>
                                <th></th>

                                <th class="font-weight-bold">

                                  <strong>Pojemność akumulatora</strong>
                                </th>
                                <th></th>
                                <th class="font-weight-bold">
                                  <strong>Prędkość przelotowa</strong>
                                </th>
                                <th class="font-weight-bold">
                                  <strong>Oświetlenie:</strong>
                                </th>
                                <th class="font-weight-bold">
                                    <strong>Udźwig</strong>
                                </th>
                              </tr>
                            </thead>
                    <tbody>
                        {% for dron in drony %}
                      <tr>
                        <td>
                          <h5 class="mt-3">
                            <strong>{{ dron.nazwa }}</strong>
                          </h5>
                        </td>
                        <td>{{ dron.pojemnosc_akumulatora }} mAh</td>
                        <td></td>
                        <td>{{dron.predkosc_przelotowa}}  km/h</td>
                        <td>
                            {% if dron.oswietlenie is True %}
                                <p>Tak</p>
                                {% else %}
                                    <p>Nie</p>
                            {% endif %}
                        </td>
                        <td>
                            {{ dron.udzwig }} gram
                        </td>

                        <td>
                            <a class="btn btn-sm btn-primary" href="{% url 'rod-update_dron' dron.id_drona%}">Aktualizuj</a>
                        </td>

                        <td>
                            <a class="btn btn-sm btn-danger" href="{% url 'rod-delete_dron' dron.id_drona %}">Usuń</a>
                        </td>

                        </tr>
                    {% endfor %}
                    </tbody>

                  </table>
                </div>

              </section>


    {% endif %}
<!------------------------------------------------------NUMERACJA STRON------------------------------------------------------>
    {% if drony %}
      {% if drony.has_previous %}
            <a class="btn btn-outline-primary mb-4" href="?page=1">Pierwsza</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ drony.previous_page_number }}">Poprzednia</a>
        {% endif %}

        {% for num in drony.paginator.page_range %}
            {% if drony.number == num %}
                <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > drony.number|add:'-3' and num < drony.number|add:'3' %}
                    <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        {% if drony.has_next %}
            <a class="btn btn-outline-primary mb-4" href="?page={{ drony.next_page_number}}">Następna</a>
            <a class="btn btn-outline-primary mb-4" href="?page={{ drony.paginator.num_pages }}">Ostatnia</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}