{% extends 'rod/base.html' %}
{% block content %}
    <div class="dron_list">
        <h1>DRONY:</h1>
        {% if drony %}
            {% for dron in drony %}
                <hr>
                <h4>Nazwa: {{ dron.nazwa }}</h4>
                <p>Pojemonsc akumulatora: {{ dron.pojemnosc_akumulatora }} mAh</p>
                <p>Predkosc przeletowa: {{ dron.predkosc_przelotowa}} km/h</p>
                {% if dron.oswietlenie is True %}
                    <p> oswietlenie: Tak</p>
                {% endif %}

            {% endfor %}
        {% endif %}
        <input class="btn btn-primary" type="button" value="Dodaj Nowy"  onclick="location.href='{% url 'rod-new_drone' %}'"/>
    </div>
{% endblock %}